# Python
__pycache__/
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mac-specific
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent